h5py
pandas
opencv-python
pyqtgraph
PyQt5
tables
qtpy
cvxpy==1.3.2
ipython>=8.14.0
matplotlib>=3.7.2
nose>=1.3.7
nose2>=0.13.0
numpy>=1.24.1
psutil>=5.9.5
PyYAML>=6.0.1
scipy>=1.11.1
torch>=2.1.0+cu121  # Updated to the latest version with CUDA 12.1
torchvision>=0.16.0+cu121  # Match with PyTorch version
tqdm>=4.65.0
